
<nav class="navbar navbar-expand-sm bg-dark navbar-dark  justify-content-end">

     

    <ul class="navbar-nav-inline nav  justify-content-between">
      <li class="nav-item  active">
        <a class="nav-link " href="/">HOME</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/about">ABOUT</a>
      </li>
      <li class="nav-item  ">
        <a class="nav-link disabled" href="/galary">Galary</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/login">Login</a>
    </li>
    
   
    </ul>
  </nav>
  <div class="card card-accent-danger ">
    <div class="card-header h1">World’s Seven Wonders </div>
    <div class="card-body ">
        <h4> There were seven wonders of that time (7 Wonders of the Old World)</h4>
        <div class="card-body ">
            <img src="/assets/home.jpeg" class="w-70">
        </div>
        <p> In these seven wonders, only the Great Pyramid of Giza is left and it is now given special place of the 7 wonders part. All others are destroyed now.</p>
       <h3>Before the 21st Century began in 1999, the issue of introducing seven wonders to everyone in a new way began. New 7 Wonder Foundation was built in Zurich, Switzerland. A site has been created in Canada, 
           
        which had information about 200 artworks around the world. A poll was started to choose 7 entries out of these 200 entries.</h3>
        <h2> More about World’s New Seven Wonders ( 7 Wonders of the Modern World visit my galary....</h2> 
        <p> for galary login first..</p>
        <div class="card-body ">
            <img src="/assets/home.jpeg" class="w-100">
        </div>
    </div>
   
    </div>
 
  <nav class="navbar fixed-bottom navbar-dark bg-dark justify-content-center">
    <div class="navbar-brand justify-content-center">
        <small>&#169;xyz-Media.com</small>
      </div>
  </nav>
   
 
    <router-outlet></router-outlet>